<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>RodeStock</title>
  <link rel="shortcut icon" href="principalimg/rodesicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <div class="logo">RODESTOCK</div>
    <div class="icon-header"></div>
  </header>

  <main class="menu">
    <div class="menu-item" onclick="abrirPagina('usuario')">
      <div class="icon user"></div>
      <span>USUÁRIO</span>
    </div>
    <div class="menu-item" onclick="window.location.href='../Estoque/estoque.html'">
      <div class="icon box"></div>
      <span>ESTOQUE</span>
    </div>
    <div class="menu-item" onclick="window.location.href='../OS/OS1.html'">
      <div class="icon ordem"></div>
      <span>ORDEM DE SERVIÇO</span>
    </div>
  </main>

  <script src="script.js"></script>
</body>
</html>
